/* LUCKIEST GUY FONT FOR HEADINGS */
/*
.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;